*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #264653;
  color: #000;
}

::selection {
  background: #f4a261;
  color: #fff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.btn {
  border: none;
  width: 130px;
  height: 35px;
  cursor: pointer;
  background-color: #274653;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-second {
  background-color: #636363;
}

.description.next-phase {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 4rem;
}

textarea.rsz-none {
  resize: none;
}