<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="wrapper header-wrapper">
        <div class="logo">
          <a href="/">
            <h1 class="heading">To Do List</h1>
          </a>
        </div>
        <nav>
          <ul>
            <li>
              <a href="/task">Task</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="root">
      {{{body}}}
    </div>
  </body>
</html>
