<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-wrapper">
            <a href="/">
              <h1 class="logo">ToDo List</h1>
            </a>
          <nav>
            <ul>
              <li>
                <a href="/task">Task</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="content container">
      {{{body}}}
    </div>
  </body>
</html>
